*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root{
    --green-principal: #00704A;
    --black-principal: #27251F;
}

main{
    /* position: relative; */
}

nav{
    /* POSITIONS */
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 9999;
    
    /* BOXING */
    width: 100%;
    margin-bottom: 50%;
    padding: 1.25rem 0;

    /* DESIGN */
    background: rgb(226, 226, 226);
}
    nav .logo-content{
        display: flex;
        justify-content: center;
        padding: 0 0 0.625rem 0;
    }
        nav .logo-content img{
            width: 4.6875rem;
            padding: 0.3125rem;
            
        }

        nav .link-content{
            /* POSITION */
            display: flex;
            align-items: center;
            justify-content: center;
            
            /* BOXING */
            height: 10px;
        
    }
    
    nav .link-content a{
        /* BOXING */
        margin: 0 0.9375rem;

        /* DESIGN */
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.0625rem;
        font-weight: 700;
        color: var(--green-principal);
    }
        nav .link-content a:hover{
            border-bottom: solid 3px var(--black-principal);
        }


/* SLIDE CONTENT */

.slide-content{
    /* POSITIONS */

    /* BOXING */
    width: 100%;
    height: 25rem;
    margin: 12% 0 5rem 0;

    /* DESIGN */
    /* background: #000; */
}
    .slide-content img{
        /* positions */
        /* BOXING */
        width: 100%;
        height: inherit;
    }


/* CATEGORY CONTENT */

.category-content{
    /* POSITIONS */
    display: flex;
    flex-direction: row;
    /* background: rgb(150, 149, 149); */

    /* BOXING */
    width: 100%;
    margin: 5rem 0;
    padding: 0 7.5rem;
}
    .category-content .category{
        /* POSITIONS */
        text-align: center;
        
        /* BOXING */
        width: 33.3%;
        
        /* DESIGN */
        text-decoration: none;
    }
    .category-content .category img{
        /* BOXING */
            width: 10.25rem;
            height: 10.25rem;
            border-radius: 100%;
        }
        
        .category-content .category .category-p{
            /* BOXING */
            margin: 0.9375rem 0 0 0;

            /* DESIGN */
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: var(--black-principal);

        }
        .category-content .category:hover{

            padding: 10px;
        }



/* WISHFOOD CONTENT */

.wishfood-content{

    /* BOXING */
    width: 90%;
    margin: 0 auto;
}   
    .wishfood-content h1{
        /* POSITIONS */
        text-align: center;

        /* BOXING */
        margin: 0 0 1.5625rem 0;

        /* DESIGN */
        font-family: Arial, Helvetica, sans-serif;
        color: var(--green-principal);
        border-bottom: 5px solid var(--green-principal);
    }

    .sub-content-wishfood{
        /* POSITIONS */
        display: flex;
        flex-direction: row;

        /* BOXING */
        width: 100%;

        /* DESIGN */
        /* background: rgb(8, 196, 1); */
    }
        .wishfood-content .food{
            /* POSITIONS */
            position: relative;
            /* BOXING */
            width: 100%;
            margin: 0 1.25rem;
        }
            .wishfood-content .food .img-food-temp{
                /* BOXING */
                width: 100%;
                height: 31.25rem;

                 /* DESIGN */
                background: var(--green-principal);

            }

            .wishfood-content .food-btn{
                /* POSITIONS */
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;

                /* BOXING */
                width: 0%;
                height: 100%;

                /* DESING */
                color: var(--black-principal);
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.5625rem;
                background: rgba(56,53,53,0.568);
                opacity: 0;
            }

            .food:hover .food-btn{
                width: 100%;
                opacity: 100;
                transition: all 1.5s;
                border-radius: 0.625rem;
            }

            


/* VALOR CONTENT */

.valor-content{
    /* POSITIONS */
    display: flex;
    flex-direction: row;

    /* BOXING */
    width: 80%;
    margin: 6.25rem auto;

    /* DESIGN */
    border-top: solid 0.3125rem var(--green-principal);
}
    .valor{
        /* BOXING */
        padding: 0.625rem 1.5625rem  0rem;
    }

    .valor-content .valor-icon{
        /* BOXING */
        text-align: center;
    }
        .valor-content .valor-icon img{
            /* BOXING */
            width: 4.6875rem;
        }
    .valor-content .valor-title{
        /* BOXING */
        margin: 0.625rem 0;
        text-align: center;

        /* DESIGN */
        font-size: 1.5625rem;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--black-principal);
    }

    .valor-content .valor-paragraph{
        /* BOXING */
        text-align: center;
        margin: 0 0 0.3125rem 0;

        /* DESIGN */
        color: var(--green-principal);
        font-size: 1.0625rem;
    }

    .valor-content .valor:hover{
        border-bottom: solid 0.1875rem var(--green-principal);
        animation-direction: reverse;
        transition: all .1s;
    }